/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

	/* 申請お知らせ領域 */		
.apply-notice {		
  margin-top: -5px;		
  margin-bottom: 20px;
  color: #c0c0c0;
}

.notice {
  p {
  color: #ff0000;
    a {
      color: #ff0000;
      padding: 0.05em 0.1em;
      // margin: 0.3em 0
      font-weight: bold;
      border: solid 2px #ff0000;
    }
  }
}

	/* ユーザー情報下ボタン */		
.btn-users-show {		
  margin-top: -10px;		
  margin-bottom: 10px;		
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  thead tr th {
    vertical-align: bottom;
    text-align: center;
    font-weight: normal;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.time-select {
  display: inline-block;
  width: auto;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

